{
  "presets": [
    [
			"env",
			{
				"targets": {
					"browsers": ["last 3 versions"]
				},
				"useBuiltIns": true,
				"debug": true,
				"modules": "commonjs"
			}
		]
  ],

	"plugins": ["transform-object-rest-spread"]
}