<html lang="en">
	<head>
		<title>{{title | capitalize}}</title>


		<!-- Styles and resets -->

		<link rel="stylesheet" href="assets/css/reset.css">
		<link rel="stylesheet" href="assets/css/cursor-reset.css">
		<link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo">
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/header-second-bar.css">


		<!-- Meta-tags -->

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="UIS login page.">
	    <meta name="author" content="You"> <!-- имя автора, -->
	    <meta name="keyword" content="You, you, you, you and... you"> <!-- и ключевые слова, по которым страницу ищет гугел. -->

	    <!-- А это ↓ нада шоб в Internet Explorer работало... -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body :class="{ 'trans' : bgtransitionEnabled, 'logged-in' : user.loggedIn }">


		<header v-if="user.loggedIn" class="header-two-bars" id="main_header" transition="show">

			<div class="header-first-bar">

				<div class="header-limiter">

					<h1><a href="/"><span id="role">{{ user.role }}</span>'s dashboard</a></h1>
					<button
						id="logout_button"
						class="logout-button entypo-cancel"
						@click="logout"
						@keyup.enter="logout"
					></button>

				</div>

			</div>

			<div class="header-second-bar">

				<div class="header-limiter">

					<h2>
						<a href="/" id="name">{{ user.fullName() }}</a> <span id="nickname">{{ user.username }}</span>
					</h2>

					<nav id="menu">
						<template v-for="element in user.menuElements()">
							<button class="btn rounded" @click="element.event">
								{{ element.name }}
							</button>
						</template>
					</nav>

				</div>

			</div>

		</header>



		<div v-if="!user.loggedIn" class="login wrapper" id="wrapper">

			<div class="table">

				<div class="centered cell">

					<div class="content rounded" id="content">

						<span :title="loginData.tooltipTitle" :class="{ 'tooltip' : true, 'show' : loginData.showTooltip }">
						</span>

						<form id="login_form">

							<div class="form-edit login" :class="{ 'has-error' : loginData.usernameError }">

								<span class="icon entypo-user"></span>
								<input 
									type="text"
									id="username"
									class="rounded form-control"
									placeholder="Username"
									autocomplete="off"
									maxlength="32"
									v-model="user.username"
									@keyup.enter="login"
								/>
							
							</div>
							<div class="form-edit login" :class="{ 'has-error' : loginData.passwordError }">
							
								<span class="icon entypo-key"></span>
								<input
									type="password"
									id="password"
									class="rounded form-control"
									placeholder="Password"
									autocomplete="off"
									maxlength="64"
									@keyup.enter="login"
								/>
							
							</div>
							<!-- TODO - full-stack registration form! -->
							<!-- <div v-show="loginData.expandForm" class="form-edit login" transition="show">
								<span class="icon entypo-dot"></span>
								<input v-model="user.firstName" class="rounded form-control" type="text" placeholder="First Name" id="userfn" autocomplete="off"/>
							</div>
							<div v-show="loginData.expandForm" class="form-edit login" transition="show">
								<span class="icon entypo-dot-2"></span>
								<input v-model="user.lastName"  class="rounded form-control" type="text" placeholder="Last Name"  id="userln" autocomplete="off"/>
							</div>
							<div v-show="loginData.expandForm" class="form-edit login" transition="show">
								<span class="icon entypo-paper-plane"></span>
								<input v-model="user.tgId"  class="rounded form-control" type="text" placeholder="Telegram Alias" id="usertg" autocomplete="off"/>
							</div> -->
						
							<!-- А вот и кнопочки пошли... -->
							<div class="buttons rounded">

								<button
									type="button"
									id="login_button" 
									class="rounded btn blue"
									style="float: left;"
									@click="login"
									@keyup.enter="login"
								>Log in</button>
								<button
									type="button"
									id="reg_button"
									class="rounded btn blue"
									style="float: right;"
									@click="register"
									@keyup.enter="register"
								>Register</button>

							</div>

						</form>

					</div>

				</div>

			</div>

		</div>

		<div v-else class="dashboard wrapper" id="wrapper">

			<div class="table">

				<div class="centered cell">

					<div class="content rounded" id="content">

					</div>

				</div>

			</div>

		</div>

		<script src="assets/js/vue.js"></script>
		<!-- TODO Replace with this on production! -->
		<!-- <script src="assets/js/vue-min.js"></script> -->

		<!-- App code -->
		<script src="assets/js/user-api.js"></script>
		<script src="app.js"></script>


	</body>
</html>