[card] {
    margin: 1rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: initial;
    padding: 1rem;
}

[card] > header[flex] {
    align-content: space-between;
    justify-content: space-between;
}

[card] > header {
    min-height: 2rem;
}

[card]>header>section {
    padding: 1rem;
    font-size: x-large;
}

[card] > [content] {
    padding: 1rem;
}


[card][status] {
    border-left: 3px solid;
}

[card][status="in_process"] {
    border-left-color: orange;
}
[card] [misc]>[status="in_process"] {
    color: orange;
}
[card][status="rejected"] {
    border-left-color: hsl(0,90%,65%);
}
[card] [misc]>[status="rejected"] {
    color: hsl(0,90%,65%);
}
[card][status="approved"] {
    border-left-color: hsl(100,50%,50%);
}
[card] [misc]>[status="approved"] {
    color: hsl(100,50%,50%);
}
[card][status="rework"] {
    border-left-color: cornflowerblue;
}
[card] [misc]>[status="rework"] {
    color: cornflowerblue;
}

[card] > header [misc] {
    color: gray;
    font-size: 0.9rem;
}

[card] > [content] [block] {
    /* margin: 0.5rem 0.5rem 2rem 0.5rem; */
}

[card] > [content] [block] > *:not(h4) {
    color: hsla(0, 0%, 0%, 0.86);
    font-weight: 100;
}

[card] > [content] [block] > h4 {
    font-weight: initial;
    margin: 0 0 1rem 0;
    color: #000;
}

[card] > footer {
}

/* [card] > footer [controls] {
    padding: 1rem;
} */

[card] > footer [controls] button[item],
[card] > footer [controls] a[item] {
    cursor:  pointer;
}

[card] > footer [controls] [item] {
    background: hsl(226, 100%, 68%);
    color: #fff;
    padding: 0.5rem 2rem;
    margin: 0.3rem;
    transition: all .2s ease;
}

[card] > footer [controls] [item]:hover {
    background: hsl(226, 100%, 60%);
}

[card] > footer [controls] [item][success]:hover {
    background: hsl(100,50%,50%);
}
[card] > footer [controls] [item][error]:hover {
    background: hsl(0,90%,65%);
}
[card] > footer [controls] [item][warning]:hover {
    background: orange;
}
/* [card] [footer] > [menu] [item] {
    padding: 0.3rem 0.5rem;
    margin: 0 .5rem;
    transition: all .2s ease;
}

[card] [footer] > [menu] [item]:hover {
    background: hsl(226, 100%, 68%);
    color: #fff;
} */