body {
    font-family: "Roboto";
    background-color: #f7f7f7;
    overflow: hidden;
}

button {
    background-color: transparent;
    border: none;
}

main[content] {
    margin-left: 260px;
    height: 100%;
    font-size: 1.1rem;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    color: #000;
}

@media screen and (max-width: 768px) {
    main[content] {
        margin-left: 0;
    }
}

main[content] > div {
    position: relative;
    padding: 2rem;
    /* border-top: 1px solid #fff; */
}


main[content] > div[scrolled] {
    border-top: 1px solid #d2d2d2;
}

main[content] > header {
    /* padding: 1.5rem; */
    color: hsla(210, 1%, 1%, 0.7);
    height: 64px;
    padding: 10px 15px;
    /* height: 3rem; */
    /* line-height: 3rem; */
    font-size: 1rem;
    background-color: #fff;
    text-transform: uppercase;
}

main[content] > header > [content] {
    height: 100%;
}

main[content] > header > [content] [item] {
    margin: 0 2rem;
    color: #000;
    background: transparent;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

main[content] > header > [content] [item]:focus,
main[content] > header > [content] [item]:hover {
    color: #fff;
    background: hsl(226, 100%, 68%);
}

main[content] > header > [content] [item].v-link-active,
main[content] > header > [content] [item]:active {
    color: #fff;
    background: hsl(226, 100%, 60%);
}

main[content] > [scroller-y] {
    height: calc(100% - 4rem);
}