[responsive-text] { font-size: calc(1rem + 1vw); }

[left] {float: left;}
[right] {float: right;}

[fill][screen] {position: absolute;	top: 0;	left: 0; width: 100vw; height: 100vh;}
[fill][parent] {margin: 0; width: 100%; height: 100%;}

[list] {display: list-item;}

[table] {display: table;}

[table] [cell],				  [table][cell] 			  {display: table-cell;}
[table] [cell][align-top], 	  [table][cell][align-top] 	  {vertical-align: top;}
[table] [cell][align-center], [table][cell][align-center] {vertical-align: center;}
[table] [cell][align-bottom], [table][cell][align-bottom] {vertical-align: bottom;}
/* TODO Needs fixing */

[table] [column], [table][column] {display: table-column;}
[table] [column][group], [table][column][group] {display: table-column-group;}

[block] {display: block;}
[inline] {display: inline;}
[inline][block] {display: inline-block;}
[inline][table] {display: inline-table;}
[inline][flex] {display: -ms-inline-flexbox;display: inline-flex;}

[center][children] { text-align: center; }

[flex] {display: -ms-flexbox;display: flex;}
[flex][column] {-ms-flex-direction: column;flex-direction: column;}
[flex][center][children], [flex][column][center][children] {-ms-flex-align: center;-ms-grid-row-align: center;align-items: center; -ms-flex-pack: center; justify-content: center;}
[flex] [grow] { -ms-flex-positive: 1; flex-grow: 1; }


[rounded]
[rounded],
[rounded="4"]	{border-radius:  4px;}
[rounded="8"]	{border-radius:  8px;}
[rounded="16"]	{border-radius: 16px;}
[rounded="100"]	{border-radius: 100%;}

[padding],
[padding="4"]	{padding:  4px;}
[padding="8"]	{padding:  8px;}
[padding="16"]	{padding: 16px;}

[margin],
[margin="4"]	{margin:  4px;}
[margin="8"]	{margin:  8px;}
[margin="16"]	{margin: 16px;}

[transition~=".1"] {transition: all .1s ease;}
[transition],
[transition~=".3"] {transition: all .3s ease;}
[transition~=".5"] {transition: all .5s ease;}
[transition~="1"]  {transition: all  1s ease;}

[border="0"] {border-width: 0}
[border="1"] {border-width: 1px}
[border="2"] {border-width: 2px}
[border="4"] {border-width: 4px}
[border="8"] {border-width: 8px}
[no-select]  {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

[non-opaque] {opacity: 0;}
[transparent] {background-color: transparent;}

[absolute] {position: absolute;}
[pinned], 			[fixed] {position: fixed;}
[pinned][left],  	[fixed][left],	[absolute][left] {left:0;}
[pinned][right],	[fixed][right],	[absolute][right] {right:0;}
[pinned][top],		[fixed][top],	[absolute][top] {top:0;}
[pinned][bottom],	[fixed][bottom],[absolute][bottom] {bottom:0;}

[shown] {opacity: 1; visibility: visible;}
[hidden] {opacity: 0; visibility: hidden;}

[scroller] { overflow: auto !important; }
[scroller-y] { overflow-y: auto !important; overflow-x: hidden !important; }
[scroller-y][force] { overflow-y: scroll !important; }
[scroller-x] { overflow-x: auto !important; overflow-y: hidden !important; }
[scroller-x][force] { overflow-x: scroll !important; }

span::after { content: "  " attr(data-after); }
span::before { content: attr(data-before) "  "; }

[icon]::before {
	font-family: 'themify';
	content: attr(icon) "  ";
	padding: 0.5rem;
}
[icon]::after {
	font-family: 'themify';
	content: "  " attr(icon-after);
}

[default] { all: initial !important; }