[sidebar] {
    width: 7rem;
    height: 100%;
    float: left;
    padding: 0;
    color: #fff;
    background-color: hsl(225, 14%, 22%);
    z-index: 99;
}

[sidebar] [menu] > * {
    display: block;
    height: 6rem;
    width: 7rem;
    color: hsl(214, 11%, 46%);
    cursor: pointer;
}

[sidebar] [menu] > *:hover{
    color: #fff;
    background-color: hsl(226, 100%, 68%);
}

[sidebar] > header {
    background-color: #4c76ff;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    height: 7rem;
    line-height: 7rem;
    font-size: 1.1rem;
}

[sidebar] > header.v-link-active,
[sidebar] > header:hover {
    background-color: hsla(226,100%,68%,1);
}

[sidebar] [menu] {
    height: 100%;
    border-right: 1px solid rgba(98, 99, 100, 0.2);
}

[sidebar] [menu] > [item][id][points]::before {
    font-family: "Source Sans Pro Light";
    content: attr(points);
}
[sidebar] [menu] > [item][id]::before {
    display: block;
    font-size: 2rem;
    padding: 0.5rem;
}

[sidebar] [menu] > [item][id]::after {
    display: block;
    content: attr(id);
}

[sidebar] [menu] [item].v-link-active {
    color: #fff;
    background: hsla(228,79%,62%,1);
}



aside[menubar] {
    width: 18rem;
    height: 100%;
    float: left;
    z-index: 98;
    background-color: hsl(224, 16%, 19%);
}

aside[menubar] [menu] {
    color: #fff;
    height: 100%;
    border-left: 1px solid hsla(0, 0%, 0%, 0.2);
}

aside[menubar] [menu] div[id] {
    width: 80%;
    display: block;
    margin: 0 1.5rem;
    padding: 1rem 0;
}

aside[menubar] [menu] div[id]:not(:last-of-type) {
    border-bottom: 1px solid hsla(221,17%,14%,1);
}

aside[menubar] [menu] div[id] [item] {
    display: block;
    padding: 0.5rem 1.5rem;
    margin: 0.3rem 0;
    text-align: left;
    width: 100%;
    color: hsla(215,5%,50%,1);
    cursor: pointer;
    /* border-radius: 0.2rem; */
}

aside[menubar] [menu] div[id] [main][item] {
    color: #fff;
}

aside[menubar] [menu] div[id] [item].v-link-active,
aside[menubar] [menu] div[id] [item]:hover {
    color: #fff;
    background-color: hsla(221,17%,15%,1);
}