[sidebar] {
    display: block;
    position: fixed;
    width: 260px;
    height: 100vh;
    color: #FFF;
    font-weight: normal;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to bottom, hsl(226, 100%, 68%) 0%, hsl(227, 81%, 57%) 100%);
    background-size: 150% 150%;
}


@media screen and (max-width: 768px) {
    [sidebar] {
        margin-left: -260px;
    }
}

[sidebar] > [header] {
    padding: 10px 15px;
    height: 64px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

[sidebar] > [header] > span {
    text-transform: uppercase;
    padding: 5px 0px;
    display: block;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: 32px;
}

[sidebar] > [menu] {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

[sidebar] > [menu] [item] {
    display: inline;
    position: relative;
    color: #FFFFFF;
    margin: 5px 15px;
    opacity: .86;
    border-radius: 4px;
    width: calc(100% - 30px);
    border: 0;
    padding: 10px 15px;
    text-align: left;
    cursor: pointer;
    transition: opacity .15s ease-in, background-color .15s ease-in;
}

[sidebar] > [menu] [item][left] {
    margin: 5px 0 5px 15px;
    border-radius: 4px 0 0 4px;
    width: calc(70% - 15px);
}

[sidebar] > [menu] [item][right] {
    margin: 5px 15px 5px 0;
    border-radius: 0 4px 4px 0;
    width: calc(30% - 15px);
}

[sidebar] > [menu] [item]:hover {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}

[sidebar] > [menu] [item][left]:hover + [right] { background: rgba(255, 255, 255, 0.1); }
[sidebar] > [menu] [item][left].v-link-active + [right] { background: rgba(255, 255, 255, 0.13); }

[sidebar] > [menu] [item][left] + [right].v-link-active,
[sidebar] > [menu] [item].v-link-active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

[sidebar] > [menu] [item] > span,
[sidebar] > [menu] [item] > span {
    float: left;
    margin-right: 1.2rem;
    width: 30px;
    text-align: center;
}

[sidebar] > [menu] [item] > [text] {
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}

[sidebar] > [menu] [item] > [icon] {
    font-size: 28px;
}

[sidebar] > [menu] [item] > [info] {
    font-weight: 100;
    text-align: center;
    line-height: 30px;
}

#logout {
    position: absolute;
    width: calc(100% - 30px);
    left: 0;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}