._responsive-text { font-size: calc(1rem + 1vw); }

._left {float: left;}
._right {float: right;}

._fill._screen {position: absolute;	top: 0;	left: 0; width: 100vw; height: 100vh;}
._fill._parent {margin: 0; width: 100%; height: 100%;}

/* ._list {display: list-item;} */

._table {display: table;}

._table ._cell,				  ._table._cell 			  {display: table-cell;}
._table ._cell._align-top, 	  ._table._cell._align-top 	  {vertical-align: top;}
._table ._cell._align-center, ._table._cell._align-center {vertical-align: center;}
._table ._cell._align-bottom, ._table._cell._align-bottom {vertical-align: bottom;}
/* TODO Needs fixing */

._table ._column, ._table._column {display: table-column;}
._table ._column._group, ._table._column._group {display: table-column-group;}

._block {display: block;}
._inline {display: inline;}
._inline._block {display: inline-block;}
._inline._table {display: inline-table;}
._inline._flex {display: -ms-inline-flexbox;display: inline-flex;}

._center._children { text-align: center; }

._flex {display: -ms-flexbox;display: flex;}
._flex._wrap {flex-wrap: wrap;}
._flex._column {-ms-flex-direction: column;flex-direction: column;}
._flex._row {-ms-flex-direction: row;flex-direction: row;}
._flex._center._children, ._flex._column._center._children {-ms-flex-align: center;-ms-grid-row-align: center;align-items: center; -ms-flex-pack: center; justify-content: center;}
._flex._align._center { align-items: center; }
._flex._align._top { align-items: flex-start; }
._flex._align._bottom { align-items: flex-end; }
._flex._justify._left { justify-content: flex-start }
._flex._justify._center { justify-content: center }
._flex._justify._right { justify-content: flex-end }
._flex ._grow { -ms-flex-positive: 1; flex-grow: 1; }


._transition-01 {transition: all .1s ease;}
._transition,
._transition-03 {transition: all .3s ease;}
._transition-05 {transition: all .5s ease;}
._transition-1  {transition: all  1s ease;}

._non-opaque {opacity: 0;}
._transparent {background-color: transparent;}

._absolute {position: absolute;}
._pinned, 			._fixed {position: fixed;}
._pinned._left,  	._fixed._left,	._absolute._left {left:0;}
._pinned._right,	._fixed._right,	._absolute._right {right:0;}
._pinned._top,		._fixed._top,	._absolute._top {top:0;}
._pinned._bottom,	._fixed._bottom,._absolute._bottom {bottom:0;}

._scroller { overflow: auto !important; }
._scroller-y { overflow-y: auto !important; overflow-x: hidden; }
._scroller-y-force { overflow-y: scroll !important; }
._scroller-x { overflow-x: auto !important; overflow-y: hidden; }
._scroller-x-force { overflow-x: scroll !important; }

[data-after]::after { content: attr(data-after); }
[data-before]::before { content: attr(data-before); }

._no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;  
}

._default { all: initial !important; }
