/* ==========================================================================
	 Vendor Imports
	 ========================================================================== */

@import
	'~@material/animation/mdc-animation.scss',
	'~bootstrap/scss/bootstrap.scss',
	'~vue-material/dist/vue-material.css';

/* ==========================================================================
	 Typography
	 ========================================================================== */

// @import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@import
	url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic'),
	url('https://fonts.googleapis.com/css?family=Cousine:400,400i,700,700i&subset=cyrillic');

$main-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-font-family: Cousine, Menlo, Monaco, "Courier New", Courier, monospace;

body {
	background-color: hsl(0, 0%, 94.5%);
	color: hsla(0, 0%, 0%, 0.87);
	font-family: $main-font-family !important;
	font-size: 1em;
}

code, kbd, pre, samp {
	font-family: $monospace-font-family;
}

/* ==========================================================================
	 Layout
	 ========================================================================== */

$sidebar-width: 15rem;
$header-height: 4rem;
$footer-height: $header-height;

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}


// * + * {
// 	margin-top: 1em;
// }

.card-columns {
	column-count: auto;
	column-gap: 0;
	column-width: $sidebar-width;
	// column-break-inside: avoid;

	> .card-wrapper {
		padding: 0 8px;

		> .md-card {
			margin: 8px 0;
			display: inline-block;
		}
	}
}

.emojione {
	height: 1em;
	width: auto;
}

select.form-control-lg {
	padding: .5rem .75rem;
}

select.form-control {
	padding: .25rem .5rem;
}

footer {
	height: $footer-height;
	text-align: center;
	width: 100%;

	> p {
		margin: 0;
		line-height: $header-height;
	}
}

.alert {
	margin: 0;
	height: ($sidebar-width / 2);
	position: fixed;
	bottom: 1rem;
	right: 2rem;
	text-overflow: ellipsis;
	width: $sidebar-width;
	z-index: 1050;
}

.modal button + button {
	margin-left: .5rem;
}

/* ==========================================================================
	 Material Design
	 ========================================================================== */

.container, .container-fluid {
	padding-top: 16px;
	padding-bottom: 16px;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	flex-flow: column;
	position: relative;

	> main {
		display: flex;
		flex-flow: column;
		min-height: 100%;

		> .md-sidenav {
			z-index: 1600;
		}

		> main {
			display: flex;
			flex: 1;
			flex-flow: column;
			min-height: 100%;
			max-height: 100%;

			> header {
				z-index: 400;
			}

			> section {
				display: flex;
				flex: 1;
				flex-flow: column;
				overflow-x: auto;
				overflow-y: scroll;

				> .content {
					flex: 1;
				}
			}
		}
	}
}

.app-bar-container {
	flex: 1;

	> .row {
		align-items: center;
	}
}

/* ==========================================================================
	 VueMaterial Global Fixes
	 ========================================================================== */

.search {
	height: 4rem;
	align-items: center;
	display: flex;
	margin: 0 8px 0 0;
	width: $sidebar-width;

	> .md-input-container {

		&:after {
			background: hsla(0, 0%, 100%, .7) !important;
		}

		&.md-input-focused {

			&:after {
				background: hsla(0, 0%, 100%, 1) !important;
			}

			> label {
				color: hsla(0, 0%, 100%, .5) !important;
			}

			> input {
				color: hsla(0, 0%, 100%, 1) !important;
				text-shadow: 0 0 0 hsla(0, 0%, 100%, 1) !important;
			}

		}

		> label {
			color: hsla(0, 0%, 100%, .5);
		}

		> input {
			color: hsla(0, 0%, 100%, 1);
		}

	}
}

.md-theme-dark {
	color: hsla(0, 0%, 100%, 1) !important;

	.md-button[disabled],
	.md-button[disabled] .md-icon {
		color: hsla(0, 0, 100, .5) !important;
	}
}

.md-icon {
	overflow: hidden;
	text-transform: uppercase;
}

.md-card {
	.md-card-content + .md-card-content {
		padding-top: 0;
	}
}

.md-sidenav > .md-sidenav-content {
	display: flex;
	flex-flow: column nowrap;
	width: $sidebar-width;
	overflow: hidden;
	border-right: 1px solid hsla(0, 0%, 0%, 0.12);

	> main {
		flex: 1;
		display: flex;
		flex-flow: column nowrap;
		overflow: hidden;

		> section {
			flex: 1;
			overflow: auto;
		}
	}
}

.md-toolbar {
	.md-title {
		margin: 0 !important;
	}

	.md-button {
		margin: 0;
	}

	.md-button + .md-button {
		margin-left: 8px;
	}
}

.md-card {
	.md-card-actions {
		padding: 16px;

		> .md-button + .md-button {
			margin-left: 16px;
		}
	}

	.md-card-area {
		.md-card-actions {
			padding: 8px 16px;
		}
	}
}

.md-input-container .md-icon ~ .md-select {
	margin-left: 12px;
}

.md-input-container .md-icon ~ .md-error {
	margin-left: 36px;
}

.md-card-area > .md-card-header {
	padding-top: 24px;
}

.md-card-content > p:last-child {
	margin-bottom: 0;
}

.md-toolbar {
	z-index: 400;
}

.md-dialog-container {
	z-index: 2400;
}

.md-table-card > .md-toolbar {
	padding: 0 16px;
}

@media (min-width: 1281px) {
	.md-sidenav > .md-sidenav-content {
		top: 0 !important;
		pointer-events: auto !important;
		transform: translateZ(0) !important;
		box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12) !important;
	}

	.md-sidenav > .md-backdrop {
		opacity: 0 !important;
		pointer-events: none !important;
	}

	body {
		> main {
			padding-left: $sidebar-width;
		}
	}

	.md-toolbar-container {
		padding: 0 16px !important;
	}

	.md-toolbar-container > .md-button.md-icon-button {
		display: none !important;
	}
}

/* ==========================================================================
	 Transitions/Animations
	 ========================================================================== */

// .application {
// 	transition: all 500ms;
// 	display: inline-block;
// 	width: 100%;
// }

// .application-list-enter, .application-list-leave-to {
// 	opacity: 0;
// 	// transform: translateY(100%);
// }

// .application-list-enter-active, .application-list-leave-active {
// 	position: absolute;
// }

// .participant {
// 	transition: all 500ms;
// 	display: inline-block;
// 	width: 100%;
// }

// .participant-list-enter, .participant-list-leave-to {
// 	opacity: 0;
// 	// transform: translateY(100%);
// }

// .participant-list-enter-active, .participant-list-leave-active {
// 	position: absolute;
// }

// .store-item {
// 	transition: all 500ms;
// }

// .store-item-list-enter, .store-item-list-leave-to {
// 	opacity: 0;
// 	// transform: translateY(100%);
// }

// .store-item-list-enter-active, .store-item-list-leave-active {
// 	position: absolute;
// }

/* ==========================================================================
	 Media Queries
	 ========================================================================== */

// Extra small devices (portrait phones, less than 544px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 544px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


// Extra small devices (portrait phones, less than 544px)
@media (max-width: 575px) {  }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
	// FIXME
	.main-main {
		margin-left: 0;
	}

	.sidebar-main {
		margin-left: -$sidebar-width;
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {  }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
