[shop] {
	-moz-columns: 12rem;
		 columns: 12rem;
}

[product] {
	display: inline-block;
	text-align: center;
	margin: 0.5rem;
	padding: 1rem;
	background: #fff;
	border: 1px solid hsla(210,38%,93%,1);
	width: 12rem;
}

[product] img {
	width: 100%;
	height: auto;
}

[floating] {
	padding: 1rem;
	background: #fff;
	display: flex;
	position: fixed;
	flex-direction: column;
	bottom: 2rem;
	right: 4rem;
	height: 4rem;
	width: 4rem;
	text-align: initial;
	border-radius: 4px;
	box-shadow: 0 0 5px -2px;
	transition: all ease .3s .05s;
}

[cart][opened] {
	/* position: absolute; */
	bottom: 0;
	right: 0;
	height: 100%;
	width: calc(100% - 17rem);
}

@media screen and (max-width: 768px) {
	
	[cart][opened] {
		width: 100%;
	}
}

[cart] > [open] {
	width: 4rem;
	height: 4rem;
	position: absolute;
	border-radius: 4px;
	top: 0;
	right: 0;
	background: #fff;
	font-size: xx-large;
}

[cart][floating][amount]::before {
	content: attr(amount);
	position: absolute;
	display: block;
	z-index: 2;
	top: -0.5rem;
	right: -0.5rem;
	border-radius: 100%;
	background-color: red;
	width: 1.5rem;
	height: 1.5rem;
	font-size: small;
	text-align: center;
	line-height: 1.5rem;
	color: #fff;
	transform: scale3d(1,1,1);
	transition: transform ease .1s;
}

[cart][floating][opened][amount]::before {
	transform: scale3d(0,0,0);
}