

/* entypo icons*/
[class*="entypo-"]:before { font-family: 'entypo', sans-serif; }

:focus { outline:none; }

html {overflow:hidden;}

body
{
	min-width: 400px;
	margin: 0;
	padding: 0; 
	height: 100%;
    width: 100%;
	font-family: 'Ruda', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4d2c2+50,86b1b8+100 */
	background: #b4d2c2; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #b4d2c2 50%, #86b1b8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #b4d2c2 50%,#86b1b8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #b4d2c2 50%,#86b1b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 200vw 200vh;
    background-position: -100vw -100vh;
}

body.trans
{
    transition: background ease 1s;
}

body.logged-in
{
	background-position: initial;
}

.wrapper
{
    transition: all ease .3s;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
	overflow-x: hidden;
}

.table
{
	display: table;
    width: 100%;
    height: 100%;
}

.cell
{
	display: table-cell;
}

.cell.centered
{
	vertical-align: middle;
	text-align: center;
}

.wrapper form 
{
	text-align: left;
}

#login_form
{
	max-width: 216px;
}

.wrapper .content
{
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    outline: 0;
    display: inline-block;
    text-align: initial;
    transition: all ease .3s;
}

.wrapper .content:first-child
{
	transition: all ease .3s;
}

.content.dashboard 
{
	max-width: 90vw;
	min-width: 20vw;
	max-height: 50vh;
	min-height: 20vh;
	overflow: auto;
}

.content.dashboard.hidden
{
	margin-left: -150vw;
}

.content.login.hidden
{
	margin-right: -150vw;
}

.content.dashboard::-webkit-scrollbar {
    /* width: 0; */
}


::-webkit-scrollbar {
    width: 0px;
  border-radius:8px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.btn
{
	box-sizing: border-box;
	border: 0;
	display: block;
	/*width: 100px;*/
	height: 36px;
	padding: 10px;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3px;
}

#login_form .btn
{
	width: 46%;
}

.btn.blue
{
	background-color: #38A7F9;
	color: #fff;
}

.btn.blue:active
{
	background-color: #38A7F9;
}

.btn.blue:focus
{
	background: #4cb3ff;
}

.btn.blue:hover
{
	background: #4cb3ff;
}


.form-edit
{
	margin-top: 1px;
    position: relative;
    margin-bottom: 16px;
}

.form-edit.login input
{
	color: #349ff4;
	position: relative;
 	text-shadow: 0px 0px 0px #f26f33; 
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-o-text-fill-color: transparent;
	-webkit-transition: all ease-in-out .3s, -webkit-all ease-in-out .3s;
	   -o-transition: all ease-in-out .3s;
	   -moz-transition: all ease-in-out .3s;
	      transition: all ease-in-out .3s;
}

.form-edit.login input:focus
{
	text-shadow: 0px 0px 0px #646464;
}

.form-control
{
	border-color: #349ff4;
	color: #38A7F9;
	display: block;
	width: 100%;
	height: 38px;
	padding-top: 8px;
	padding-left: 16px;
	padding-right: 48px;
	padding-bottom: 6px;
	font-size: 16px;
	line-height: 1.42857143;
	background-color: rgba(229, 233, 242, 0.5);
	border: 0px;
}

.form-control.area
{
	max-width: 100%;
	max-height: 220px;
	color: #646464;
}

.form-control:focus 
{
	border-color: #66afe9;
	outline: 0;
	/*background-color: #E5E9F2;*/
}

.form-control::-moz-placeholder 
{
	color: #777;
	opacity: 1;
}

.form-control:-ms-input-placeholder 
{
	color: #777;
}

.form-control::-webkit-input-placeholder 
{
	color: #777;
}

.has-error .form-control:focus 
{
    box-shadow: inset 0 0px 1px rgba(0,0,0,.075), 0 0 7px red;
    -webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,.075), 0 0 7px red;
    text-shadow: 0 0 0 red;
}

.has-error .form-control 
{
	color: red;
    box-shadow: inset 0 0 7px red;
    -webkit-box-shadow: inset 0 0 7px red;
    text-shadow: 0 0 0 red;
}

.has-success .form-control:focus
{
	box-shadow: inset 0 0px 1px rgba(0,0,0,.075), 0 0 7px #078e07;
    -webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,.075), 0 0 7px #078e07;
}

.has-success .form-control
{
    color: #078e07;
    box-shadow: inset 0 0 7px #078E07;
    -webkit-box-shadow: inset 0 0 7px #078E07;
    text-shadow: 0px 0px 0px #646464;
}

.has-warning .form-control:focus
{
	box-shadow: inset 0 0px 1px rgba(0,0,0,.075), 0 0 7px orange;
    -webkit-box-shadow: inset 0 0px 1px rgba(0,0,0,.075), 0 0 7px orange;
    text-shadow: 0 0 0 orange;
}

.has-warning .form-control
{
	color: orange;
    box-shadow: inset 0 0 7px orange;
    -webkit-box-shadow: inset 0 0 7px orange;
    text-shadow: 0 0 0 orange;
}

.form-group 
{
	margin-bottom: 15px;
}

.icon
{
	display: inline-block;
    position: absolute;
    font-size: 18px;
    right: 0;
    pointer-events: none;
    padding: 10px 16px;
}

.tooltip {
    display: inline;
    position: relative;
    top: -81px;
    left: 20px;
}

.tooltip.show::before {
    border: solid;
    border-color: rgb(31, 39, 38) transparent;
    border-width: 6px 6px 0px 6px;
    bottom: 21px;
    content: "";
    margin-left: 100px;
    position: absolute;
    z-index: 99;
}

.tooltip.show::after {
	background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 216px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8);
}


.rounded
{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#role
{
	text-transform: capitalize;
}

#nickname
{
	color: #d0d0d0;
}

@media all and (max-height: 768px)
{
	.cell.centered:not(.login)
	{
		vertical-align: bottom;
	}

	.content.dashboard
	{
		margin: 15vh 20px;
	}
}

@media all and (max-width: 800px)
{
	.content.dashboard
	{
	    min-width: 400px;
	}
}



table{
  width:100%;
  table-layout: fixed;
  border-radius:8px;
}
.tbl-header{
  background-color: rgb(41, 44, 47);
  border-radius:8px 8px 0 0;
 }
.tbl-content{
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgb(41, 44, 47);
  border-radius:0 0 8px 8px;
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #b5b5b5;
  text-transform: uppercase;
}

td select { border: 0; }

td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #b5b5b5;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}
