[sidebar] {
    display: block;
    position: fixed;
    width: 17rem;
    height: 100vh;
    color: #FFF;
    font-weight: normal;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to bottom, hsl(271, 74%, 63%) 0%, hsla(269, 100%, 44%, 0.75) 100%);
    background-size: 150% 150%;
}


@media screen and (max-width: 768px) {
    [sidebar] {
        margin-left: -17rem;
    }
}

[sidebar] > [header] {
    padding: 1rem;
    height: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

[sidebar] > [header] > span {
    display: block;
    color: #FFFFFF;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

[sidebar] > [menu] {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

[sidebar] > [menu] [item] {
    display: inline;
    position: relative;
    color: #FFFFFF;
    margin: 0.25rem 1rem;
    opacity: .86;
    border-radius: 4px;
    width: calc(100% - 2rem);
    border: 0;
    padding: 10px 1rem;
    text-align: left;
    cursor: pointer;
}

[sidebar] > [menu] [item][left] {
    margin: 0.25rem 0 0.25rem 1rem;
    border-radius: 4px 0 0 4px;
    width: calc(70% - 1rem);
}

[sidebar] > [menu] [item][right] {
    margin: 0.25rem 1rem 0.25rem 0;
    border-radius: 0 4px 4px 0;
    width: calc(30% - 1rem);
}

[sidebar] > [menu] [item]:hover {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
}

[sidebar] > [menu] [item][left]:hover + [right] { background: rgba(255, 255, 255, 0.1); }
[sidebar] > [menu] [item][left].v-link-active + [right] { background: rgba(255, 255, 255, 0.13); }

[sidebar] > [menu] [item][left] + [right].v-link-active,
[sidebar] > [menu] [item].v-link-active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

[sidebar] > [menu] [item] > span,
[sidebar] > [menu] [item] > span {
    float: left;
    margin-right: 1.2rem;
    width: 2rem;
    text-align: center;
}

[sidebar] > [menu] [item] > [text] {
    margin: 0;
    line-height: 2rem;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
}

[sidebar] > [menu] [item] > [icon] {
    font-size: 2rem;
}

[sidebar] > [menu] [item] > [info] {
    font-weight: 100;
    text-align: center;
    line-height: 2rem;
}

#logout {
    position: absolute;
    width: calc(100% - 2rem);
    left: 0;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}